@import
url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
  margin: 0;
  background-color: #008fd5;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #ffffff;
  box-shadow: 5px 5px 5px #b6c1ce;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
  margin-top: 2em;
}

nav a {
  font-weight: 400;
  text-decoration: none;
  font-size: .95rem;
  color: #293f59;
  padding: .8em;
}

  h3 {
    font-weight: 700;
    font-size: .89rem;
    color: #293f59;
  }

  .container {
    width: 55%;
    margin: 0 auto;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    display: inline-block;
    margin: 1em;
    margin-top: 2em;
  }

  nav a {
    font-weight: 400;
    text-decoration: none;
    font-size: .95rem;
    color: #293f59;
    padding: .8em;
  }

#nav-global {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: .85rem;
}
#nav-global li {
  position: relative;
  display: block;
  float: left;
  padding-bottom: 9px;
  text-transform: uppercase;
}
#nav-global li a {
  padding: 12px 12px 9px 12px;
  border-right: 1px solid #6e986d;
  color: #fff;
  background: #3e763c;
}
#nav-global li:hover a {
  color: #3e763c;
  background: #fff; }
#nav-global li ul {
  position: absolute;
  top: 100%;
  display: none;
  margin: 0;
  padding: 0;
  border: 1px solid #6e986d;
  border-top: 0;
}
#nav-global li ul li {
  display: block;
  float: none;
  width: 235px;
  padding: 0;
  text-transform: none;
}
#nav-global li ul li a,
#nav-global li:hover ul li a {
  display: block;
  padding: 6px 12px 3px 12px;
  color: #fff;
  background: #3e763c;
  border-top: 1px solid #6e986d;
  border-right: 0;
}
/* drop down */
#nav-global li:hover ul {
  display: block;
}
#nav-global li:hover ul li a:hover {
  color: #3e763c;
  background: #fff;
}
